h1{
    color:orange;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin:auto;
    width: 80%,
}
h2{
    color: blueviolet;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}
li{
    display: none;
}
